.about .container {
    position: relative;
    padding: 150px 0;
}
.about .container .txt-box {
    background-color: #fff;
    position: absolute;
    padding: 30px 80px;
    max-width: 640px;
    bottom: 50px;
    right: -150px;
}
.about .container .txt-box h2 {
    text-transform: uppercase;
    font-weight: 400;
    /* font-size: 3.8em; */
    font-size: clamp(1em, 7vw, 3.8em);
}
.about .container .txt-box p {
    line-height: 1.7;
    color: #BEBEBE;
}
@media (max-width: 1024px) {
    .about .container .txt-box {
        padding: 30px;
        width: 550px;
        right: -26px;
        bottom: 80px;
    }
} 
@media (max-width: 767px) {
    .about .container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .about .container .img-box img {
        width: 100%;
    }
    .about .container .txt-box {
        position: static;
        max-width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
    }
}